:root{
    /* Colores */

    --verde-aqua:#E4F8F6;
    --dark-aqua:#4ABDAF;
    --blue:#147EC9;
    --bold-text:#102E4A;
    --gray:#F5F5F5;

    /* Fuentes */

    --fuente-principal: 'Nunito Sans', sans-serif;
}
