.secConoceMas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--gray);
    &__tittle {
        width: 82%;
        max-width: 330px;
        min-width: 300px;
        margin-top: 12px;
    }
    &__parrafo {
        width: 82%;
        max-width: 330px;
        min-width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }
    &__hidden {
        display: none;
        width: 82%;
        max-width: 330px;
        min-width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .show {
        display: block;
    }
    #read.show {
        background-image: none;
    }
    .leer-mas {
        font-weight: lighter;
        width: 82%;
        max-width: 330px;
        min-width: 300px;
        margin-top: 7px;
        margin-bottom: 25px;
        color: var(--dark-aqua);
        p {
            width: 40%;
            background-image: url('../assets/Arrow.svg');
            background-position-x: right;
            background-position-y: 60%;
            background-repeat: no-repeat;
        }
    }
}